body {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#canvas1 {
  width: 800px;
  height: 700px;
}

#slider {
  width: 100%;
  margin: 0 0 4px 0;
}

p {
  color: #eee;
  margin-bottom: 0.3rem;
}
